
/* 默认菜单主题风格*/
$base-menu-background:#304156;


$base-menu-light-background:#ffffff;


$base-sidebar-width: 200px;


:export {
  menuBackground: $base-menu-background;
  menuLightBackground: $base-menu-light-background;
}
